@use 'variables' as v;
body{
    background-color: rgb(226, 217, 217);
  }
  .container{
    background-color: rgb(183, 187, 183);
    width: 800px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
  }
  #button{
    padding: 10px;
  }